input[type=password] {
    font-size: 1rem;
    box-sizing: border-box;
    width: 99%;
    border-bottom: 1px solid var(--amarillo);
    padding-top: 1rem;
    margin: 0.75rem auto 1.1rem 0;
}

#login {
    padding-top: 10vh;
}

input[type=password], #login h1, #login label {
    color: var(--amarillo);
    background-color: var(--negro-claro);
}

#login label {
    font-size: 1.1rem;
}

#login form {
    background-color: var(--negro-claro);
    box-sizing: border-box;
    margin: 0 auto;
    width: 30vw;
    min-width: 300px;
    padding: 3.5vw 7.5vw;
    border-radius: 1rem;
}
