.add-question-btn {
    background-color: var(--amarillo);
    color: var(--negro-texto);
    display: inline-block;
    padding: 0.3rem 1rem;
    margin: 0;
    margin-left: 5px;
}

.builder-container {
    display: grid;
    grid-template-columns: 39% 1fr;
    height: 80vh;
    gap: 1rem;
}

.down-caret {
    transform: rotate(180deg);
}

.new-question-form {
    justify-content: space-between;
}

.question-menu {
    display: grid;
    grid-template-columns: 1fr repeat(3, 2rem);
    gap: 0.5rem;
    margin: 0.2rem 0;
    padding: 5px;
}

.question-menu:hover {
    background-color: var(--negro);
}

.question-selector {
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 3rem;
}

.question-text {
    width: 100%;
    text-align: left;
}

.question-menu button {
    background-color: transparent;
}

.question-menu img {
    background-color: var(--amarillo);
    height: 1.2rem;
    width: auto;
    padding: 0.4rem;
    border-radius: 50%;
}

.scouting-form form {
    overflow-y: auto;
    height: 80vh;
}

#question-config, #section-order {
    background-color: var(--negro-fondo);
    padding: 1rem;
}

#save-form button {
    margin: 0 auto;
}

#section-order h2 {
    font-size: 1.2rem;
    text-align: left;
    margin: 0;
}