.blue-a {
    grid-area: 1 / 6 / 2 / 7;
}

.blue-b {
    grid-area: 2 / 6 / 3 / 7;
}

.blue-c {
    grid-area: 3 / 6 / 4 / 7;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.comm-entrance {
    background-color: rgb(0, 255, 0);
}

.comm-exit {
    background-color: rgb(255, 0, 0);
}

.field-density {
    z-index: 11;
}

.red-a {
    grid-area: 1 / 2 / 2 / 3;
}

.red-b {
    grid-area: 2 / 2 / 3 / 3;
}

.red-c {
    grid-area: 3 / 2 / 4 / 3;
}

.team-card {
    background-color: var(--negro-claro);
    box-sizing: border-box;
    width: 22.5rem;
    min-width: 320px;
    padding: 2.5rem 1.5rem;
    border-radius: 20px;
    margin: 1rem;
}

.community-zones {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(7, 1fr);
    margin: 1rem auto 0;
}

.results-table {
    box-sizing: border-box;
    padding: 1.5rem 0;
    overflow-x: auto;
    margin: 0 1rem;
}

.card-grid td, .card-grid th {
    border: 1px solid var(--amarillo);
    padding: 0.25rem;
}

.community-zones img {
    grid-area: 1 / 1 / 4 / 10;
    z-index: 10;
}

.results-table td {
    color: var(--negro-texto);
    padding: 0.5rem 0.35rem;
    border: 1px solid var(--negro);
}

.team-card td, .team-card th {
    border: 1px solid var(--amarillo);
    padding: 0.25rem;
}

.team-card .title {
    color: var(--amarillo);
    text-align: center;
    font-weight: 400;
}

.results-table thead td {
    font-weight: 400;
}

#results-table {
    display: none;
    background-color: #fff;
}

#results-switch:checked ~ #results-table{
    display: block;
}

#results-switch:checked ~ #result-cards {
    display: none;
}

@media screen and (max-width: 425px) {
    .team-card {
        width: 100%;
        min-width: auto;
        border-radius: 0;
        padding: 1.5rem 0.75rem;
        margin: 1rem 0;
    }
}
