.google-signin {
    background-color: var(--g-blue);
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.google-signin span {
    font-size: 1.1rem;
    font-weight: 400;
}

.google-signin img {
    background-color: #fff;
    padding: 3px;
}

#login {
    padding-top: 10vh;
}

#login h1 {
    color: var(--amarillo);
    background-color: var(--negro-claro);
    margin: 0 auto 2rem;
}

#login form {
    background-color: var(--negro-claro);
    box-sizing: border-box;
    margin: 0 auto;
    width: 32vw;
    min-width: 300px;
    padding: 3vw 4.5vw;
    border-radius: 1rem;
}
