@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Roboto-Bold.ttf);
}

:root {
  --amarillo: #f0e332;
}

* {
  color: var(--blanco-texto);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
  background-color: #272727;
}

header {
  padding-top: 1rem;
}

h3 {
  font-weight: 500;
}

.btn-nav {
  color: #000;
  background-color: var(--amarillo);
  font-weight: 500;
  width: 12rem;
  padding: 1.5rem;
  border: 2px solid var(--amarillo);
  border-radius: 10px;
  margin: 1.5rem 3rem;
}

.btn-nav:hover {
  color: var(--amarillo);
  background-color: #000;
}

.opacar {
  opacity: 0.35;
}

a.firma, span.firma {
  color: #b4b3b3;
}

#btn-submit {
  color: #000;
  background-color: var(--amarillo);
  display: block;
  width: 50%;
  min-width: 6rem;
  border: 2px solid var(--amarillo);
  border-radius: 2px;
  padding: 0.75rem 0;
  margin: 0.5rem auto 0;
}

#btn-submit:hover {
  color: var(--amarillo);
  background-color: #000;
}

#logo-header {
  max-width: 30%;
  min-width: 300px;;
  display: block;
  margin: 0 auto;
}

#logo-header h2 {
  color: var(--blanco-texto);
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
  margin-bottom: 0.5rem;;
}